/* CSS BY Leanna Bonalba*/

/*
FROM CONTENT FOLDER:
Styles
Imported fonts
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

Colors
midnight-blue: #1F2A44;
olive-green: #76885B;
champagne-gold: #E5C185;
linen: #F8F4EC;
dark-charcoal: #2B2B2B;
soft-white: #FAF9F6;

Font
Playfair Display

*/

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* CSS RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ROOT VARIABLES */

:root {
    --midnight-blue: #1F2A44;
    --olive-green: #76885B;
    --champagne-gold: #E5C185;
    --linen: #F8F4EC;
    --dark-charcoal: #2B2B2B;
    --soft-white: #FAF9F6;

    font-family: 'Playfair Display', serif;
}

/* GLOBAL STYLES (mobile first/small) */
body {

    color: var(--dark-charcoal);
    line-height: 1.6;
}

p {
    font-size: 1rem;
}

header {
    text-align: center;
    color: var(--soft-white);
    background-color: var(--midnight-blue);
    padding: 20px;
}
header img {
    max-width: 50vw;
    max-height: 300px;
}

h1 {
    font-size: 3.5rem;
    font-weight: bold;
}

nav {
    background-color: var(--champagne-gold);
    text-align: center;
    padding: 0.25rem 0;
}

nav li {
    display: inline-block;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: var(--midnight-blue);
    font-weight: bolder;
    font-size: 1.2rem;
}
main {
    padding: 2em;
}

section {
    margin: 1em 0;
    border-bottom: var(--champagne-gold) 2px solid;
    padding-bottom: 2em;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
    font-weight: bolder;
}

#offerings section {
    border-bottom: none;

    padding: 10px;
    border-radius: 10px;

    background-color: var(--olive-green);
    color: var(--soft-white);

    box-shadow: var(--olive-green) 0px 5px 15px;
}

#gallery figure{
    /*for ease of visibility during development
    border: var(--champagne-gold) 2px solid;*/
    border-radius: 10px;

    box-shadow: var(--dark-charcoal) 0px 1px 5px;
    margin: 20px 0;
}
img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 10px;

}

figcaption {
    text-align: center;
    padding: 0.5em;
    font-style: italic;
    color: var(--dark-charcoal);
}

#full_gallery_link {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--olive-green);
}

#full_gallery_link a {
    text-decoration: none;
    font-weight: bolder;
    color: var(--soft-white);
}


footer {
    padding: 20px;
    text-align: center;
    background-color: var(--midnight-blue);
    color: var(--soft-white);
}

footer a {
    text-decoration: none;
    color: var(--soft-white);

}

address {
    margin-bottom: 20px;
}

#email_link {
    display: block;
    color: var(--champagne-gold);
    font-weight: bold;
}

.socials {
    color: var(--champagne-gold);
    font-weight: bold;

}

/* MEDIA QUERY (medium) */
@media (min-width: 600px) {
    #offerings {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    #offerings > h2{
        grid-column: 1/-1;
    }
    
    .box3 {
        grid-column: 1 / -1;
    }

    #gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    #full_gallery_link {
        grid-column: 1/-1;
    }
    #gallery h2 {
        grid-column: 1/-1;
    }
    #gallery p {
        grid-column: 1/-1;
    }
}